

@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

@keyframes burgerAnimation{
    from {opacity: 0;}
    to {opacity: 1;}
}


body {
    font-family: 'Actor', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    background-color: #0B1D26;

}
a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style-type: none;
}
.container {
    max-width: 1463px;
    padding: 20px 80px 10px 80px;
    margin: 0 auto;
    position: relative;
}

.burger-account{
    display: none;
}
.burger-menu{
    display: none;
}

/* HEADER START  */
.header{
    position: relative;
    z-index: 3;
    padding-bottom: 200px;
}
.header__container {
    max-width: 1760px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo__text {
    font-family: "Adamina";
    font-size: 32px;
    letter-spacing: 0.01em;
}

.header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.account__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* HEADER END  */



/* COVER START  */

.cover::before{
    z-index: 1;
    content: '';
    position: absolute;
    background: rgba(1, 33, 46, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.cover__container {
    /* max-width: 1760px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

/* SOCIAL START  */

.social__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.social__text {
    writing-mode: vertical-lr;
}
.social__image {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.social__logo {
    width: 20px;
    height: 20px;
}



/* SOCIAL END  */


/* COVER START  */

.cover__slider{
    padding: 0 396px;
}

.cover__text-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-bottom: 32px;
}
.cover__text-ps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #fbd784;
    padding-bottom: 32px;
}
.line {
    display: flex;
    width: 72px;
    height: 2px;
    background-color: #fbd784;
}
.cover__slider-title {
    font-family: "Adamina", sans-serif;
    font-size: 30px;
    line-height: 114%;
    text-transform: capitalize;

    max-height: 250px;
}
.cover__slider-scroll {
    display: flex;
    flex-direction: row;
    gap: 22px;
}


.cover video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video__slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video__slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
.slider__navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;

}



.slider__navigation .nav__btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}
.slider__navigation .nav__btn.active{
    background: rgb(0, 100, 194);
}

.slider__navigation .nav__btn:not(:last-child){
    margin-right: 20px;
}

.slider__navigation .nav__btn:hover{
    transform: scale(1.2);
}
/* COVER END  */



/* MAIN START  */

.main {
    padding-top: 350px;
}

.article-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding-bottom: 200px;
}
.box-reverse{
    flex-direction: row-reverse;
}

.ps-1::before{
    content: '01';
    font-size: 240px;
    line-height: 100%;
    opacity: 0.1;
    position: absolute;
    left: -100px;
}
.ps-2::before{
    content: '02';
    font-size: 240px;
    line-height: 100%;
    opacity: 0.1;
    position: absolute;
    left: -130px;
    top: -100px;
}
.ps-3::before{
    content: '03';
    font-size: 240px;
    line-height: 100%;
    opacity: 0.1;
    position: absolute;
    left: -140px;
    top: -110px;
}

.main__text-ps{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-bottom: 27px;
    position: relative;
    
}
.ps-text {
    font-size: 18px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #fbd784;
}
.main__article-title{
    font-size: 64px;
    font-family: "Adamina", sans-serif;
    max-width: 555px;
    padding-bottom: 27px;
}
.main__article-paragraph{
    font-size: 18px;
    line-height: 178%;
    max-width: 632px;
    padding-bottom: 27px;
}
.article__link-arrowbox{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.article__link-text a {
    font-size: 18px;
    color: #fbd784;
}
/* MAIN END  */

/* FOOTER START  */
.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__logo-text{
    font-family: "Adamina";
    font-size: 32px;
    letter-spacing: 0.01em;
    padding-bottom: 15px;
}
.footer__logo-comment{
    font-size: 18px;
    line-height: 178%;
    max-width: 303px;
    padding-bottom: 114px;
}
.footer__agreements-text{
    font-size: 18px;
    line-height: 178%;
    opacity: 0.5;
}


.block-container{
    display: flex;
    flex-direction: row;
    gap: 223px;
}
.blog-title{
    font-size: 24px;
    line-height: 133%;
    color: #fbd784;
    font-family: "Adamina", sans-serif;
    padding-bottom: 24px;
}
.blog-link{
    font-size: 18px;
    line-height: 178%;
}
.footer__blog-link{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.more-title{
    font-family: "Adamina", sans-serif;
    font-size: 24px;
    line-height: 133%;
    color: #fbd784;
    padding-bottom: 24px;
}
.footer__more-link{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.more-link{
    font-size: 18px;
    line-height: 178%;
}

/* FOOTER END  */

/* ADAPTIVE START  */
@media (max-width: 1560px) {
    .main {
        padding-top: 250px;
    }
    .cover__slider {
        padding: 0 196px;
    }
    .cover__slider-title {
        font-size: 58px;
    }
    .main__article-title {
        font-size: 44px;
    }
    .main__article-paragraph {
        font-size: 16px;
    }
    .ps-1::before {
        font-size: 200px;
        left: -50px;
    }
    .ps-2::before {
        font-size: 200px;
        left: -50px;
    }
    .ps-3::before {
        font-size: 200px;
        left: -50px;
    }
}
@media (max-width: 1080px) {
    .header {
        padding-bottom: 100px;
    }
    .cover__container {
        margin-top: 70px;
    }
    .cover__slider {
        padding: 0 100px;
    }
    .cover__slider-title {
        font-size: 40px;
        /* max-width: 730px; */
    }
    .main__article-image {
        width: 40%;
        height: 40%;
    }
    .ps-text {
        font-size: 14px;
    }
    .ps-1::before {
        font-size: 150px;
    }
    .ps-2::before {
        font-size: 150px;
    }
    .ps-3::before {
        font-size: 150px;
    }
    .main__article-title {
        font-size: 34px;
    }
    .main__article-paragraph {
        font-size: 14px;
    }
}
@media (max-width: 830px) {

    /* BURGER START  */
    .open {
        display: block !important;
    }
    .header__nav {
        display: none;
        position: fixed;
        height: 20%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        animation: burgerAnimation 0.4s;
        background-color: rgb(1, 33, 46);
    }
    .bar {
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: #fff;
    }
    .header__list{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }

    
    .burger-account{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .account__block{
        display: none;
    }

    .burger-menu{
        display: flex;
        position: relative;
        z-index: 100;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: 18px;
    }
    .burger-menu span {
        display: block;
        height: 2px;
        transform: scale(1);
        width: 40px;
        background-color: #fff;
    }
    .burger-menu::before, .burger-menu::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 40px;
        background-color: #fff;
        transition: all 0.3s ease 0s;
    }

    .burger-menu::before {
        top: 0;
    }
    .burger-menu::after{
        bottom: 0;
    }

    .burger-menu.active span {
        transform: scale(0);
    }

    .burger-menu.active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .burger-menu.active::after{
        top: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
    /* BURGER END  */
    .cover__text-ps {
        gap: 20px;
        padding-bottom: 20px;
    }
    .cover__container {
        margin-top: 0px;
    }
    .cover__slider-title {
        font-size: 35px;
    }
    .cover video {
        height: 80%;
    }
    .cover::before {
        height: 80%;
    }
    .main {
        padding-top: 150px;
    }
    .main__text-ps {
        gap: 10px;
        padding-bottom: 20px;
    }
    .ps-text {
        font-size: 12px;
    }
    .main__article-title {
        font-size: 30px;
    }
    .main__article-paragraph {
        font-size: 12px;
    }
    .article__link-arrowbox {
        gap: 15px;
    }
    .ps-1::before {
        font-size: 100px;
    }
    .ps-2::before {
        font-size: 100px;
        left: -60px;
        top: -40px;
    }
    .ps-3::before {
        font-size: 100px;
        left: -50px;
        top: -50px;
    }
    .article-box {
        gap: 60px;
        padding-bottom: 50px;
    }
    .footer__container {
        flex-direction: column-reverse;
        display: flex;
    }
    .footer__logo-text {
        display: flex;
        justify-content: center;
    }
    .footer__logo-comment {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 14px;
    }
    .footer__agreements-text {
        text-align: center;
        padding-bottom: 24px;
    }
    .block-container {
        justify-content: space-between;
    }
}
@media (max-width: 655px) {
.header{
    padding-bottom: 90px;
}
.cover__slider-title {
    font-size: 25px;
}
}
@media (max-width: 520px) {
    .header{
        padding-bottom: 50px;
    }
    .cover__container {
        margin-top: 0px;
    }
    .cover__slider {
        padding: 0 50px;
    }
    .cover__text-ps {
        gap: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    .cover__slider-title {
        font-size: 30px;
    }
    .article-box {
        gap: 30px;
        display: flex;
        padding-bottom: 40px;
        flex-direction: column;
    }
    .main__article-image {
        width: 100%;
        height: 100%;
    }
    .block-container {
        gap: 123px;
        padding-bottom: 20px;
    }
    .footer__blog-box div{
        text-align: center;
    }
    .footer__blog-link li{
        text-align: center;
    }
    .footer__more-box div {
        text-align: center;
    }
    .footer__more-box li{
        text-align: center;
    }
    .block-container {
        display: flex;
        gap: 53px;
        padding-bottom: 20px;
        flex-direction: column;
    }
}
@media (max-width: 320px) {
    .header{
        padding-bottom: 20px;
    }
    .container {
        padding: 20px 40px 10px 40px;
    }
    .cover__slider {
        padding: 0 30px;
    }
}
/* ADAPTIVE END  */